.main {
  width: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 82.2%;
  margin-left: 20px;
  margin-bottom: 50px;
  border: 1px solid #252525;
  border-right: none;
  padding: 25px 0 0 35px;
  border-radius: 25px 0 0 25px;
  background: linear-gradient(45deg, #080C0F 0%, rgba(39, 39, 39, 0.1) 100%);
  
  .ref-order {
    p {
      margin: 0;
      font-size: 14px;
    }

    h4 {
      margin: 4px 0 22px 0;
      font-size: 18px;
    }
  }

  .destino {
    display: flex;
    align-items: center;
  
    .icons {
      display: flex;
      flex-direction: column;
      gap: 13px;
      align-items: center;
      margin-right: 20px;
      margin-bottom: 20px;

      .truck {
        width: 40px;
        height: 40px;
        border: 1px solid #FFFF00;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .bg {
          background-color: #FFFF00;
          border-radius: 100%;
        }
      }

      .linea {
        height: 61px;
        border: 1px solid #252525;
      }

      .circle {
        width: 40px;
        height: 40px;
        background-color: #11161B;
        box-shadow: 0 2px 4px 0 #000000;
        border-radius: 100%;
        margin-bottom: 2px;
        display: flex;
        justify-content: center;
        align-items: center;        
        .circle-1 {
          box-sizing: border-box;
          width: 28px;
          height: 28px;
          border: 2px solid #1E2227;
          background-color: #0F1216;
          box-shadow: inset 2px 0 3px 0 #080C0F;
          border-radius: 100%;
        }
      }
    }
    
    .list-main {
      display: flex;
      flex-direction: column;
      gap: 26px;
      margin-bottom: 26px;
      
      .list {
      margin: 0;
      span {
        margin: 0;
        font-size: 12px;
      }
      
      .city {
        margin: 4px 0 0 0;
        font-size: 16px;
      }
      
      .address {
        width: 230px;
        margin: 0;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      
      .state {
        margin-top: 8px;
        width: 90px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 4px 7px;
        border-radius: 10px;
        border: 1px solid #252525;
        
        .circle {
          width: 11px;
          height: 11px;
          background-color: #0394ff;
          border-radius: 100%;
        }
        
        .color {
          background-color: #949494;
        }
        
        p {
          margin: 0;
          font-size: 12px;
        }
        }
      }
    }
  }
}

.order {
  width: 348px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #080C0F 0%, rgba(39, 39, 39,0.1) 100%);
  border: 1px solid #252525;
  border-radius: 6px;

  margin-top: 50px;
  position: relative;

  .photo {
    box-sizing: border-box;
    height: 120px;
    width: 120px;
    border: 1px solid #1B1F22;
    background-color: #181D22;
    position: absolute;
    border-radius: 100%;
    top: -13%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .oval-1 {
      border-radius: 100%;
      box-sizing: border-box;
      height: 107.27px;
      width: 107.27px;
      border: 1px solid #1F2224;
      background-color: #151A1E;
      box-shadow: 0 0 4px 0 #000000;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    img {
      height: 92px;
      width: 92px;
      border-radius: 100%;
      box-shadow: 0 2px 4px 0 #080C0F
    }
  }

  .date {
    font-size: 20px;
    font-weight: 600;
    margin-top: 75px;
  }

  .state-main {
    display: flex;
    // align-items: center;
    flex-direction: column;
    // gap: 26px;

    .item {
      display: flex;
      align-items: center;
      gap: 26px;
    }
  }

  .trackOrder {
    width: 100%;
    margin-top: 45px;
    padding: 18px 0;
    background-color: transparent;
    border: none;
    border-top: 1px solid #252525;
    border-radius: 6px;
    color: #353636;
    font-size: 20px;
    font-weight: 550;
  }

  .active {
    background-color: #FFFF00;
  }
}