.main {
  width: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 82.2%;
  margin-left: 20px;
  margin-bottom: 50px;
  border: 1px solid #252525;
  border-right: none;
  padding: 25px 0 0 35px;
  border-radius: 25px 0 0 25px;
  background: linear-gradient(45deg, #080C0F 0%, rgba(39, 39, 39, 0.1) 100%);

  .ref-order {
    p {
      margin: 0;
      font-size: 14px;
    }

    h4 {
      margin: 4px 0 22px 0;
      font-size: 18px;
    }
  }

  .destino {
    display: flex;
    align-items: center;
  
    .icons {
      display: flex;
      flex-direction: column;
      gap: 13px;
      align-items: center;
      margin-right: 20px;
      margin-bottom: 20px;

      .truck {
        width: 40px;
        height: 40px;
        border: 1px solid #FFFF00;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .bg {
          background-color: #FFFF00;
          border-radius: 100%;
        }
      }

      .linea {
        height: 61px;
        // width: 1px;
        border: 1px solid #252525;
      }

      .circle {
        width: 40px;
        height: 40px;
        background-color: #1e2227;
        border-radius: 100%;
        margin-bottom: 2px;
      }
    }
  }
  
  .list-main {
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin-bottom: 26px;
  }

  .list {
    margin: 0;
    span {
      margin: 0;
      font-size: 12px;
    }
    
    .city {
      margin: 4px 0 0 0;
      font-size: 16px;
    }

    .address {
      width: 230px;
      margin: 0;
      font-size: 14px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .state {
      margin-top: 8px;
      width: 90px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 4px 7px;
      border-radius: 10px;
      border: 1px solid #252525;

      .circle {
        width: 11px;
        height: 11px;
        background-color: #0394ff;
        border-radius: 100%;
      }

      .color {
        background-color: #949494;
      }

      p {
        margin: 0;
        font-size: 12px;
      }
    }
  }
}

.order {
  width: 348px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #080C0F 0%, rgba(39, 39, 39,0) 100%);
  border: 1px solid #252525;
  border-radius: 6px;

  margin-top: 50px;
  position: relative;
  .photo {
    position: absolute;
    top: -13%;

    img {
      height: 92px;
      width: 92px;
    }
  }

  .state-main {
    display: flex;
    // align-items: center;
    flex-direction: column;
    // gap: 26px;

    .item {
      display: flex;
      align-items: center;
      gap: 26px;
    }
  }

  .date {
    font-size: 20px;
    font-weight: 600;
    margin-top: 57px;
  }
  
  // .state {
  //   margin-top: 30px;
  //   margin-bottom: 40px;
  //   display: flex;
  //   // flex-direction: column;
  //   gap: 30px;
  //   p {
  //     margin: 0;
  //     font-weight: 600;
  //   }
  //   .pickup {
  //     color: #5B5B5B;
  //   }
  // }

  .trackOrder {
    width: 100%;
    margin-top: 45px;
    padding: 18px 0;
    background-color: transparent;
    border: none;
    border-top: 1px solid #252525;
    border-radius: 6px;
    color: #353636;
    font-size: 20px;
    font-weight: 550;
  }

  .active {
    background-color: #FFFF00;
  }
}

.pickupData {
  width: 69%;
  max-width: 350;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #252525 ;
  padding: 0 27px;
  background: linear-gradient(45deg, #080C0F 0%, rgba(85,85,85,0) 100%);
  border-radius: 6px;
  margin-bottom: 30px;
  h3 {
    font-size: 16px;
  }
}

.footer {
  width: 70%;
  // margin-bottom: 30px;
  padding-left: 7px;
  padding-right: 15px;

  p {
    // margin: 0;
    font-size: 16px;
  }

  .date {
    height: 30px;
    display: flex;
    align-items: center;
    gap: 10px;

    h3 {
      font-weight: 800;
    }
  }
}