<div class="container">
  <app-header />

  <div class="order-main">
    <div class="">
      <span>Referencia A1180</span>
      <h4>Order #7804GNZ</h4>
    </div>
    <div>
      <div>
        <span>PickUp</span>
        <p>New York</p>
        <p>25 Mortada Street</p>
      </div>
      <div>
        Aceepted
      </div>
    </div>
  </div>

  <div class="order">
    <div class="photo">
      <img src="assets/Driver.png" alt="image">
    </div>
    <p class="date">10:30 PM</p>

    <div class="state">
      <p>Created Order</p>
      <p>Aceepted Order</p>
      <p class="pickup" >Pickup set up by William</p>
      <p class="pickup">Pick Completed</p>
    </div>

    <button class="trackOrder">Track Order</button>
  </div>

  <div class="pickupData">
    <h3>Pickup Data</h3>
    <img src="assets/angle-small-down.svg" alt="" />
  </div>

  <div class="footer">
    <p>
      Isidro Fabela 10, valle verde y Terminal, 50140 Tocula de Lerdo, Mexico.
    </p>
    <p>14 de Octubre 2023 • 10:30</p>
    <p>+525567890346</p>
    <p>johndoegmail.com</p>
  </div>
</div>
