<div class="container">
  <app-header title="Cargo Details" />

  <div class="order-main">
    <div class="ref-orden">
      <p>Referencia {{ details()?.reference_number }}</p>
      <h4>Order #{{ details()?.order_number }}</h4>
    </div>
    <div class="destino">
      <div class="icons">
        <div class="truck">
          <div class="bg">
            <img src="assets/truck.svg" alt="" />
          </div>
        </div>
        <div class="linea"></div>
        <div class="circle"></div>
      </div>
      <div class="list-main">
        <div class="list" *ngFor="let dest of details()?.destinations">
          <!-- <div> -->
          <span>PickUp</span>
          <p class="city">New York</p>
          <p class="address">{{ dest.address }}</p>
          <!-- </div> -->
          <div class="state">
            <div class="circle"></div>
            <p>Aceepted</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="order">
    <div class="photo">
      <img src="assets/Driver.png" alt="image" />
    </div>
    <p class="date">10:30 PM</p>

    <div class="state-main">
      <div class="check-main">
        <div class="check">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            strokeWidth="{1.5}"
            stroke="currentColor"
            className="w-6 h-6"
          >
            <path
              strokeLinecap="round"
              strokeLinejoin="round"
              d="M4.5 12.75l6 6 9-13.5"
            />
          </svg>
        </div>
        <div class="check">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            strokeWidth="{1.5}"
            stroke="currentColor"
            className="w-6 h-6"
          >
            <path
              strokeLinecap="round"
              strokeLinejoin="round"
              d="M4.5 12.75l6 6 9-13.5"
            />
          </svg>
        </div>
        <div class="check">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            strokeWidth="{1.5}"
            stroke="currentColor"
            className="w-6 h-6"
          >
            <path
              strokeLinecap="round"
              strokeLinejoin="round"
              d="M4.5 12.75l6 6 9-13.5"
            />
          </svg>
        </div>
        <div class="check">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            strokeWidth="{1.5}"
            stroke="currentColor"
            className="w-6 h-6"
          >
            <path
              strokeLinecap="round"
              strokeLinejoin="round"
              d="M4.5 12.75l6 6 9-13.5"
            />
          </svg>
        </div>
      </div>
      <div class="state">
        <p>Created Order</p>
        <p>Aceepted Order</p>
        <p class="pickup">Pickup set up by William</p>
        <p class="pickup">Pick Completed</p>
      </div>
    </div>

    <button class="trackOrder">Track Order</button>
  </div>

  <div class="pickupData">
    <h3>Pickup Data</h3>
    <img src="assets/angle-small-down.svg" alt="" />
  </div>

  <div class="footer">
    <p>
      Isidro Fabela 10, valle verde y Terminal, 50140 Tocula de Lerdo, Mexico.
    </p>
    <p>14 de Octubre 2023 • 10:30</p>
    <p>+525567890346</p>
    <p>johndoegmail.com</p>
  </div>
</div>
