<div class="container">
  <h1 class="order">
    Order <span>#{{ order.order_number }}</span>
  </h1>
  <div class="cart">
    <div class="type">
      <div class="ftl">
        <img src="assets/Order 2/FTL/container-truck.svg" alt="" />
        <p>{{ order.type }}</p>
      </div>
      <div class="orden">
        <div class="circle"></div>
        <p>{{ order.status_string }}</p>
      </div>
    </div>

    <div class="address-svg">
      <div class="icon">
        <img src="assets/Order 1/where to/address/Group 2.svg" alt="" />
        <img class="marker" src="assets/marker.svg" alt="" />
      </div>
      <div class="list-main">
        <div class="list" *ngFor="let dest of order.destinations">
          <div class="pickup">
            <div class="">
              <p class="name">{{ dest.nickname }}</p>
              <p class="city">NewYour</p>
              <p class="address">{{ dest.address }}</p>
            </div>
          </div>
          <div class="date">
            <p>{{ dest.start_date | date : "shortDate" }}</p>
            <p>10:45</p>
          </div>
        </div>
      </div>
    </div>

    <div class="btn">
      @if (contador === 0) {
      <button class="btn-container end">Its time for pickups</button>
      } @else {
      <button class="btn-container start">
        Start pickup in <span>{{ order.start_date | date : "hh:mm" }}</span>
      </button>
      }
      <button routerLink="/details" class="resume">
        Resume
        <img src="assets/Group 4-1/eye.svg" alt="" />
      </button>
    </div>
  </div>
</div>
