<!-- <div class="container"> -->
  <h1 class="order">
    Order <span>#{{ order.order_number }}</span>
  </h1>
  <div class="cart">
    <div class="header">
      <div class="type">
        <img src="assets/container-truck.svg" alt="" />
        <p>{{ order.type }}</p>
      </div>
      <div class="status">
        <div class="circle" [class.color]="order.status == 1"></div>
        <p>{{ order.status_string }}</p>
      </div>
    </div>

    <div class="destinations">
      <div class="icons">
        <img src="assets/Group 2.svg" alt="" />
        <div class="line" ></div>
        <img class="marker" src="assets/marker.svg" alt="" />
      </div>
      <div class="list-main">
        <div class="list" *ngFor="let dest of order.destinations">
          <div class="pickup">
            <div class="">
              <p class="name">{{ dest.nickname }}</p>
              <p class="city">NewYour</p>
              <p class="address">{{ dest.address }}</p>
            </div>
          </div>
          <div class="date">
            <p class="fecha">{{ dest.start_date | date : "shortDate" }}</p>
            <p class="hora">{{ dest.start_date | date : "hh:mm" }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="btn-container">
      @if (order.status == 3) {
      <button class="btn end">Its time for pickups</button>
      } @else {
      <button class="btn start">
        Start pickup in <span>{{ order.start_date | date : "hh:mm" }}</span>
      </button>
      }
      <button routerLink="/details" class="resume">
        Resume
        <img src="assets/Group 4-1/eye.svg" alt="" />
      </button>
    </div>
  </div>
<!-- </div> -->
