<nav>
  <ul class="filters">
    <li>
      <a
        (click)="changeFilter('upcoming')"
        [class.selected]="filter === 'upcoming'"
        >Upcoming</a
      >
      <div [class.line]="filter === 'upcoming'"></div>
    </li>
    <li>
      <a
        (click)="changeFilter('completed')"
        [class.selected]="filter === 'completed'"
        >Completed</a
      >
      <div [class.line]="filter === 'completed'"></div>
    </li>
    <li>
      <a (click)="changeFilter('past')" [class.selected]="filter === 'past'"
        >Past</a
      >
      <div [class.line]="filter === 'past'"></div>
    </li>
  </ul>
</nav>
