.filters {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
  padding: 0;
  margin-top: 45px;
  
  li {
    display: inline;
    position: relative;
    
    a {
      font-size: 18px;
      text-decoration: none;
      cursor: pointer;
    }
    
    .selected {
      color: #FFFF00;
      font-weight: 500;
    }

    .line {
      position: absolute;
      top: 125%;
      width: 30px;
      border: 1px solid #FFFF00;
    }
  }
}